body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}



/* .container-fluid */

.container-fluid {
  padding: 0;
  color: #663118;
  }

.main-title {
  display: block;
  margin: 0 auto;
}


/* .navbar */

.menu {
  border: 0;
  background-color: #fff;
  min-height: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .menu {
    margin-bottom: 20px;
  }
}

.menu .links {
  margin-bottom: 0;
}

.menu .links .link {
  color: green;
  text-transform: uppercase;
  font-size: 32px;
  padding-bottom: 15px;
  text-align: center;
  border-top: 1px solid green;
  transition: color .5s ease;
  font-weight: 400;
}

.menu .links .link:hover,
.menu .links .link:active
 {
  color: #663118;
  background-color: #fff9e0;
}

@media (min-width: 768px) {
  .menu .links {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
  }

  .menu .links .link {
    display: table-cell;
    float: left;
    text-align: center;
    padding-bottom: 0;
    border-right: 1px green solid;
    padding-top: 0;
    font-weight: 400;
    font-size: 16px;
    border-top: none;
    background-color: #fff;
  }

.menu .links li:last-child .link {
    border-right: none;
  }

  .menu .links .link:hover,
  .menu .links .link:active
   {
    text-decoration: underline;
    background-color: #fff;
  }
}

.menu .links .link.disabled {
  cursor: default;
  color: #663118;
  transition: none;
}

.menu .links .link.disabled:hover,
.menu .links .link.disabled:active {
  text-decoration: none;
}

/* .blog */

.blog {
  background-color: #fff;
}


.post {
  max-width: 768px;
  margin: 0 auto;
  background-color: #efefef;
  padding-bottom: 50px;
  border-bottom: 3px solid #e5e5e5;
}

.blog-title {
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 20px;
  background-color: #fff5cc;
}

@media (min-width: 768px) {
  .blog-title {
    padding-top: 40px;
  }
}

.blog-title-link h1 {
  text-align: center;
  font-size: 24px;
  color: #663118;
}

@media (min-width: 768px) {
  .blog-title-link h1 {
    text-align: left;
  }
}

.blog-title-link:hover {
  text-decoration: none;
  color: #663118;
}

.blog-date {
  padding-right: 6%;
  padding-left: 6%;
  padding-bottom: 20px;
  font-size: 16px;
  background-color: #fff5cc;
  text-align: center;
}
@media (min-width: 768px) {
  .blog-date {
    text-align: left;
  }
}


.blog-img-wrap {
  padding: 0;
}

.blog-img {
  width: 100%;
}



.blog-txt {
  font-size: 16px;
  font-weight: 400;
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.comments {
  font-size: 16px;
  font-weight: 400;
  padding-right: 6%;
  padding-left: 6%;
  text-align: center;
}

@media (min-width: 768px) {
  .comments {
    text-align: left;
  }
}

.comments a {
  color: #663118;
  color: green;
}




/* .footer */

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 992px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

.col-social,
.col-email {
  text-align: center;
}

.email,
.email-txt,
.copyright {
  font-size: 18px;
}

.email {
  color: green;
  transition: color .5s ease;
}

.email:hover {
  color: #663118;;
}

.email-txt {
  margin-top: 10px;
}


.social {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin: 10px;
  background-image:url('../img/social.svg');
  transition: background-position .2s ease;
}

.vk {
  background-position:0 -175px;
}

.vk:hover,
.vk:active {
  background-position:0 -150px;
}

.fb {
  background-position:0 -25px;
}

.fb:hover,
.fb:active {
  background-position:0 -0px;
}

.inst {
  background-position:0 -75px;
}

.inst:hover,
.inst:active {
  background-position:0 -50px;
}
.trip {
  background-position:0 -125px;
}

.trip:hover,
.trip:active {
  background-position:0 -100px;
}
