body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


a {
  color: green;
}


a:hover,
a:active {
  color: green;
}




/* .container-fluid */


.container-fluid {
  padding: 0;
  color: #663118;
}


.main-title {
  display: block;
  margin: 0 auto;
}




/* .navbar */


.menu {
  min-height: 0;
  margin-bottom: 0;
  border: 0;
  background-color: #fff;
}


@media  (min-width: 768px) {
  .menu {
    margin-bottom: 20px;
  }
}


.menu .links {
  margin-bottom: 0;
}


.menu .links .link {
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 15px;
  transition: color .5s ease;
  text-align: center;
  text-transform: uppercase;
  color: green;
  border-top: 1px solid green;
}


.menu .links .link:hover,
.menu .links .link:active {
  color: #663118;
  background-color: #fff9e0;
}


@media  (min-width: 768px) {
  .menu .links {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
  }

  .menu .links .link {
    font-size: 16px;
    font-weight: 400;
    display: table-cell;
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    border-top: none;
    border-right: 1px green solid;
    background-color: #fff;
  }

  .menu .links li:last-child .link {
    border-right: none;
  }

  .menu .links .link:hover,
  .menu .links .link:active {
    text-decoration: underline;
    background-color: #fff;
  }
}


.menu .links .link.disabled {
  cursor: default;
  transition: none;
  color: #663118;
}


.menu .links .link.disabled:hover,
.menu .links .link.disabled:active {
  text-decoration: none;
}




/* .blog */


.blog {
  border-top: 1px solid green;
  background-color: #fff;
  background-color: #efefef;
  background-image: -webkit-gradient(radial, 7 7, 0, 7 7, 7, color-stop(.4, rgba(255, 255, 255, .5)), color-stop(.44, rgba(200, 240, 200, 0)) ), -webkit-gradient(radial, 7 7, 0, 7 7, 7, color-stop(.4, rgba(255, 255, 255, .5)), color-stop(.44, rgba(255, 255, 255, 0)) );
  background-position: 0 0, 10px 10px;
    /*ff 3.6*/
  -moz-background-size: 20px 20px;
  background-size: 20px 20px;
}


@media  (min-width: 768px) {
  .blog {
    padding-top: 60px;
    padding-bottom: 60px;
    border: none;
  }
}


.post {
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #efefef;
  background-color: #fff;
}


@media  (min-width: 768px) {
  .post {
    padding-bottom: 80px;
  }
}


.blog-title {
  padding-top: 20px;
  padding-right: 6%;
  padding-left: 6%;
}


.blog-title-link h1 {
  font-size: 24px;
  text-align: center;
  color: #663118;
}


@media  (min-width: 768px) {
  .blog-title-link h1 {
    text-align: left;
  }
}


.blog-title-link:hover {
  text-decoration: none;
  color: #663118;
}


.blog-date {
  font-size: 16px;
  padding-right: 6%;
  padding-bottom: 20px;
  padding-left: 6%;
  text-align: center;
}


@media  (min-width: 768px) {
  .blog-date {
    text-align: left;
  }
}


.blog-img-wrap {
  padding: 0;
}


.blog-img {
  width: 100%;
}


.blog-txt {
  font-size: 16px;
  font-weight: 400;
  padding-top: 30px;
  padding-right: 6%;
  padding-bottom: 20px;
  padding-left: 6%;
}


.comments {
  font-size: 16px;
  font-weight: 400;
  padding-right: 6%;
  padding-left: 6%;
  text-align: center;
}


@media  (min-width: 768px) {
  .comments {
    text-align: left;
  }
}


.comments a {
  color: #663118;
  color: green;
}




/* .footer */


.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}


@media  (min-width: 992px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}


.col-social,
.col-email {
  text-align: center;
}


.email,
.email-txt,
.copyright {
  font-size: 18px;
}


.email {
  transition: color .5s ease;
  color: green;
}


.email:hover {
  color: #663118;
}


.email-txt {
  margin-top: 10px;
}


.social {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
  transition: background-position .2s ease;
  background-image: url('../img/social.svg');
  background-repeat: no-repeat;
  background-position: center;
}


.vk {
  background-position: 0 -175px;
}


.vk:hover,
.vk:active {
  background-position: 0 -150px;
}


.fb {
  background-position: 0 -25px;
}


.fb:hover,
.fb:active {
  background-position: 0 -0;
}


.inst {
  background-position: 0 -75px;
}


.inst:hover,
.inst:active {
  background-position: 0 -50px;
}


.trip {
  background-position: 0 -125px;
}


.trip:hover,
.trip:active {
  background-position: 0 -100px;
}
