body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* .container-fluid */

.container-fluid {
  padding: 0;
  color: #663118;
  }

.main-title {
  display: block;
  margin: 0 auto;
}


/* .navbar */

.menu {
  border: 0;
  background-color: #fff;
  min-height: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .menu {
    margin-bottom: 20px;
  }
}

.menu .links {
  margin-bottom: 0;
}

.menu .links .link {
  color: green;
  text-transform: uppercase;
  font-size: 32px;
  padding-bottom: 15px;
  text-align: center;
  border-top: 1px solid green;
  transition: color .5s ease;
  font-weight: 400;
}

.menu .links .link:hover,
.menu .links .link:active
 {
  color: #663118;
  background-color: #fff9e0;
}

@media (min-width: 768px) {
  .menu .links {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
  }

  .menu .links .link {
    display: table-cell;
    float: left;
    text-align: center;
    padding-bottom: 0;
    border-right: 1px green solid;
    padding-top: 0;
    font-weight: 400;
    font-size: 16px;
    border-top: none;
    background-color: #fff;
  }

.menu .links li:last-child .link {
    border-right: none;
  }

  .menu .links .link:hover,
  .menu .links .link:active
   {
    text-decoration: underline;
    background-color: #fff;
  }
}

.menu .links .link.disabled {
  cursor: default;
  color: #663118;
  transition: none;
}

.menu .links .link.disabled:hover,
.menu .links .link.disabled:active {
  text-decoration: none;
}

/* .dishes */

.wrap {
  background-color: #e5e5e5;
}

.legend {
  text-align: center;
}

@media (min-width: 992px) {
  .legend {
    text-align: left;
    margin-bottom: -40px;
  }
}

.legend-img {
  margin-top: -5px;
}

.legend-item {
  margin-right: 20px;
  margin-left: 1px;
}
.legend-item:last-child {
  margin-right: 0;
}

.dishes {
  padding-top: 60px;
  max-width: 991px;
}


.dish-row {
  margin-bottom: 0;
}

.dish {
  padding-top: 35px;
  padding-bottom: 35px;
  transition: background-color 1s ease;
  border-bottom: 1px solid #ccc;
}

@media (min-width: 768px) {
  .dish {
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
}

.dish:hover {
  background-color: #efefef;
}

.dish-category {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 42px;
}

@media (min-width: 768px) {
  .dish-category {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}
/*
@media (min-width: 992px) {
  .dish-category {
    margin-top: 20px;
    margin-bottom: 10px;
  }
} */
.dish-img {
  width: 100%;
}

.dish-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.dish-star {
  color: red;
  font-size: 28px;
}

@media (min-width: 992px) {
  .dish-title,
  .dish-star  {
    font-size: 18px;
  }
}

.footnote-row {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px;
}



.dish-option {
  text-align: center;
}

/* .dish-diet > img {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

@media (min-width: 992px) {
  .dish-diet > img {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
} */

.dish-diet > img:nth-child(2) {
  margin-left: 5px;
}

.dish-weight {
  font-size: 18px;
}

@media (min-width: 992px) {
  .dish-weight {
    font-size: 14px;
  }
}

.dish-price {
  font-weight: 500;
  font-size: 24px;
  color: #d8a822;
}

@media (min-width: 992px) {
  .dish-price {
    font-size: 18px;
  }
}










/* .footer */

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 992px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

.col-social,
.col-email {
  text-align: center;
}

.email,
.email-txt,
.copyright {
  font-size: 18px;
}

.email {
  color: green;
  transition: color .5s ease;
}

.email:hover {
  color: #663118;;
}

.email-txt {
  margin-top: 10px;
}


.social {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin: 10px;
  background-image:url('../img/social.svg');
  transition: background-position .2s ease;
}

.vk {
  background-position:0 -175px;
}

.vk:hover,
.vk:active {
  background-position:0 -150px;
}

.fb {
  background-position:0 -25px;
}

.fb:hover,
.fb:active {
  background-position:0 -0px;
}

.inst {
  background-position:0 -75px;
}

.inst:hover,
.inst:active {
  background-position:0 -50px;
}
.trip {
  background-position:0 -125px;
}

.trip:hover,
.trip:active {
  background-position:0 -100px;
}
